@{
    ViewData["Title"] = "Home Page";
}


<html>
<title>Home page splash, modified with permission form w3schools.com</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }

    .w3-text-black, .w3-hover-text-black:hover {
        color: #000 !important;
        text-shadow: 2px 2px black;
    }

    .w3-container, .w3-panel {
        padding: 0.30em 16px;
    }
    .w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
        color: #000 !important;
        background-color: #f1f1f1 !important;
        padding: 100px;
    }
</style>
<body>
    <div class="w3-content w3-margin-top" style="max-width:1400px; text-align: center">
        <h2 class="w3-text-grey w3-padding-16">Welcome to the Numeric Conversion Project of 2019</h2>
        <br /><div class="w3-light-grey w3-round-xlarge w3-medium">
                  <h5 class="w3-opacity"> <p>To begin please visit the  <b> <a asp-area="" asp-controller="NumericConversion" asp-action="NumericConverterLanding">Numeric Conversion</a></b> page.</p></h5>
</div>
        <br /><br />
        <br />
    </div>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-third">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img src="https://media.licdn.com/dms/image/C4E03AQEXM2K6JZJHWg/profile-displayphoto-shrink_200_200/0?e=1573689600&v=beta&t=KgvCNt1z5ch-EPBS0m2x_gKLCK3QpBq3O_xvTEmWqPE" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <h2 style="color: white;
">
                                Jessica Halla
                            </h2>
                        </div>
                    </div>
                    <div class="w3-container">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Denver, CO</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>jessica@jessicahalla.com</p>

                        <hr>

                        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Career Highlights</b></p>
                        <p></p>
                        <div class="w3-light-grey w3-round-xlarge w3-medium">
                            <li> Conceptualized and deployed Cost Reduction project, effectively reducing overhead costs by over $4k per month</li>
                            <li>Skillfully constructed complete DevOps architecture for company under budget; within just 3 months architecture supported 20+ external customers with individual and unique deployment</li>
                            <li>Expeditious facilitation of eCommerce solutions resulted in rapid scaling and onboarding of new clients in 1 day</li>
                            <li>Strategically led, implemented and developed entire NopCommerce solution; solution success resulted in its use as a proof of concept to all new potential clients as well as active business marketing</li>
                            <li>Pioneered e-Discovery project through weekly scrums, building specialized system with ability to reduce paper waste by 60%, considerably reduce human error and significantly increase tracking</li>

                        </div>

                        <br>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p>I only speak English :D</p>
                        <div class="w3-light-grey w3-round-xlarge">
                            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                        </div>

                        <br>
                    </div>
                </div><br>

                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-twothird">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Enterprise Architecture Integration Manager / Aspenware</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2019 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                        <p>Relied upon to develop, maintain and manage complex IT architecture models; ensuring business, application, data and technology perspectives accurately align with company governance strategies, policies, and standards</p>
                        <p>Endorses IT-related improvements while creating standardizations, documentation and technology roadmaps</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Software Developer / Aspenware</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2018 – Present</h6>
                        <p>Accountable for reliable and consistent communication with and assistance for 14 employees and 20+ customers on support-related issues, personalized security recommendations, and peripheral software administration</p>
                        <p>Adeptly directed complete conference room solution including hardware, software, cost and implementation</p>
                        <p>Continuously made high-level decisions to drive the company to adopt a more streamlined development team, including Azure naming conventions, Pingdom, LastPass, FTP server and IP restrictions on resources</p>
                        <p>Collaborated closely with executive management to provide insightful recommendations related to company security, software upgrades, and process improvement</p>
                        <p>Dexterously led and implemented the entire DevOps Department architecture, processes and other related tasks</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Full Stack Developer / WAND, Inc</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2012 – May 2018</h6>
                        <p>Responsible for continual database optimization and development for all SQL Server instances throughout the company while working with stakeholders to provide exceptional customer service and software solutions</p><br>
                        <p>Lead developer on multiple critical WAND projects including internal sales tracking application (front and back end), RESTful API, marketing sites and Administrative Management System used across WAND suitep>Expertly provided ongoing maintenance of legacy ASP sites and technical support for active directory, FortiGate, VPN access, all proprietary solutions, and all office hardware</p><br>
                        <p>Lead developer on multiple critical WAND projects including internal sales tracking application (front and back end), RESTful API, marketing sites and Administrative Management System used across WAND suite</p><br>


                    </div>
                </div>

                <div class="w3-container w3-card w3-white">
                    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Park University</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008-2009</h6>
                        <p>Bachelor of Science - BSManagement/Computer Information Systems 3.9</p>
                        <hr>
                    </div>
                    <div class="w3-container">
                        <h5 class="w3-opacity"><b>Jefferson College</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2002-2004</h6>
                        <p>Associate of Arts - AALiberal Arts and Sciences/Liberal Studies 2.98</p>
                        <hr>
                    </div>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
        <p>Find me on social media.</p>

        <a href="https://www.linkedin.com/in/jessicahalla/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>


        <p>Modified with permission from <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

</body>
</html>
